

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	
}
.navbar {
	height: 60px;
}

#logo {
	position: relative;
	top: -62px;
	margin-left: 30px;
}

ul {
	list-style: none;
	overflow: hidden;
	background: black;
}

a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 20px;
}

li {
	float: left;

}

li a:hover {
	background: yellow;
	color: black;

}

#home {
	margin-left: 450px;
}

section {
	height: 600px;
	background: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
}	

.welcome-box {
	height: 450px;
	max-width: 55%;
	background: rgba(255, 255, 255, 0.6);
	position: relative;
	top: 80px;
	margin: auto;
}

p {
	text-align: center;
	padding: 20px;
	font-size: 1.5em;
	font-weight: bold;
}

footer {
	height: 100px;
	background: black;
}

footer p {
	color: white;
	text-align: center;
	font-size: 1.3em; 
	float: right;
}

.social-logo {
	margin: 30px 0px 0px 20px;
}
